{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
<main>
    <div class="home">
        <div class="home__primary">
            <h1 class="home__title">Birth of <br> Violence</h1>
            <div class="home__img">
                <img src="media/cw_red.png" alt="">
                <a href="{% url 'products' %}" class="btn btn-primary btn-lg"></a>
            </div>
        </div>
        <div class="home__secondary">
            <span class="home__year">Official <br>Store</span>
        </div>
    </div>
</main>
{% endblock%}